@use "styles/fonts.scss" as *;
@use "styles/colors.scss" as *;
@use "styles/resolutions.scss" as *;
@use "styles/header.scss" as *;
@use "styles/footer.scss" as footer;
@use "styles/nav.scss" as *;
@use "styles/sections.scss" as *;
@use "styles/specific_pages/homepage.scss" as *;
@use "styles/specific_pages/reportes.scss" as *;
@use "styles/cards.scss" as *;
@use "styles/specific_pages/articles.scss" as articles;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $base00;
    max-width: 1900px;
    margin: 0 auto !important;

}

.TwoColumnsCardContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    padding: clamp(1rem, 4vmin, 3rem);
    grid-gap: clamp(1rem, 4vmin, 3rem);
}

main {
    min-height: 100vh;
}

.flex_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.secondaryBackground {
    background-color: $base02;
}

.center {
    text-align: center;
    align-items: center;
    margin: 0 auto;
}


a {
    text-decoration: none;
}