@use "colors.scss" as *;
@use "fonts.scss" as *;

.nav_Link {
    color: white;
    transition: 0.2s all ease;
    text-decoration: none;
    font-size: clamp(10px, 2.3vmin, 30px);
    font-family: $paragraphAndOthersFont;
}

.nav_Link_Active{
    color: $base03;
}

.nav_Link:hover{
    filter: brightness(80%);
    transition: 0.2s all ease;
}

.nav_Link:visited{
    text-decoration: none;
}