@use "colors.scss" as *;
@use "fonts.scss" as *;
//The image element of the section takes a position absolute and z-index to stay behind the other HTML elements in the section
.section_Background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.section_Title {
    transition: 0.5s all ease;
    color: white;
    font-family: $titleAndButtonsFont;
    font-size: clamp(12px, 8vmin, 50px);
}

.section_Paragraph {
    transition: 0.5s all ease;
    color: white;
    font-family: $paragraphAndOthersFont;
    font-size: clamp(8px, 2.7vmin, 20px);
}

.section_Center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
