@use "colors.scss" as *;
@use "fonts.scss" as *;
//The image element of the section takes a position absolute and z-index to stay behind the other HTML elements in the section
.section_Column {
    display: flex;
    flex-direction: column;
}

.section_Background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.section_Text_Gray {
    color: gray !important;
}

.section_Title {
    transition: 0.5s all ease;
    color: white;
    margin-bottom: clamp(12px, 2vmin, 10px) !important;
    font-family: $titleAndButtonsFont;
    font-size: clamp(22px, 8vmin, 50px);
}

.section_SubTitle {
    transition: 0.5s all ease;
    color: white;
    font-family: $titleAndButtonsFont;
    font-size: clamp(12px, 6vmin, 40px);
}

.section_Paragraph {
    transition: 0.5s all ease;
    color: white;
    font-family: $paragraphAndOthersFont;
    font-size: clamp(15px, 2.7vmin, 25px);
}

.section_Details {
    transition: 0.5s all ease;
    color: white;
    font-family: $paragraphAndOthersFont;
    font-size: clamp(3px, 2vmin, 25px);
}

.section_Center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_Button {
    cursor: pointer;
    transition: 0.2s all ease;
    color: white;
    font-family: $titleAndButtonsFont;
    background-color: $base03;
    border: none;
    padding: clamp(5px, 3vmin, 20px) clamp(10px, 5vmin, 30px);
    margin: 0px clamp(5px, 1vmin, 10px) !important;
    font-size: clamp(5px, 3vmin, 20px);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.section_Button:hover {
    transition: 0.2s all ease;
    filter: brightness(80%);
}

.section_Button_InversedColors {
    background-color: white;
    color: $base03;
}

.section_MiniImage {
    width: clamp(10px, 15vmin, 150px);
    height: clamp(10px, 15vmin, 120px);
}

.section_Form {
    display: flex;
    flex-direction: column;

    margin: clamp(20px, 4vmin, 40px);


    input {
        background-color: gray;
        border-style: solid;
        border-color: black;
        font-family: $paragraphAndOthersFont;
    }

    input:focus {
        outline: 0.3vmin solid $base03;
        outline-offset: -1px;
    }

}